:root{
    --red-primary-color:#e50914;
    --yellow-primary-color:#fd0;
}
body{
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    user-select:none;
}

/*GENERAL STYLES*/
.subtitle{
    font-size: 1rem; 
    color: var(--yellow-primary-color);
    margin-bottom: 30px;  
}
.subtitle span{
    color:var(--red-primary-color);
}
.home-end-message{
    text-align: center;    
}
.loader-section{
    margin-top: 20px;
    text-align: center;
}
.loader-section img{
    width: 40px;
}






/**HEADER**/
.header_container{
    background-color: var(--red-primary-color);
    text-align: center;
    padding: 15px 0 0 0;
}
.header_home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_home h2{
    margin: 0;
    font-family: 'Permanent Marker', cursive;    
    font-size: 1.8rem;
}
.header_home a{
    cursor: pointer;    
}
.header_home img{
    width: 30px;
}

.header_links{
    box-sizing: border-box;
    display: flex;
    width:100%;
    justify-content: space-between;
    padding: 2px 4px;
    margin-top: 12px;
}
.header_links a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;       
}
.header_links a:hover{
    color: var(--yellow-primary-color);
}





/*ERROR(dfault) MESSAGE*/
.err-dfault{
    position: relative;
}
.err-dfault img{
    width: 100%;
    height: calc(100vh - 103px);
}
.err-dfault section{
    position: absolute;
    top: 0%;
    color: #d00;
    font-size: 1.2rem;
    font-weight: 700; 
    text-align: center;   
}





/*home-components general styles*/
.home-article{
    text-align: center;
    padding: 0 5px;
    margin-bottom: 30px;
    opacity: 0;
    transition: .65s ease-in;
}
.home-article.active{
    opacity: 1;
}
.home-article .home-img{
    overflow: hidden;
}
.home-article .home-img section{
    display: grid;
    grid-template-columns: 1fr;    
    text-align: center; 
    gap: 10px 0;    
    transform: translatex(120%);    
    transition: .7s ease-out;
}
.home-article .home-img img{
    width: 95%;   
    margin: auto;
    object-fit: cover;    
}
.home-article.active .home-img section{
    transform: translateX(0);
}

/*HOME-COMPONENT-VIDEO*/
.article-film .film-text h1{
    font-size: 1.5rem;
}
/*HOME-COMPONENT-Actors&Singers*/
/*HOME-COMPONENT-ART*/





/*RESPONSIVE HOME 530px BREAK*/
@media only screen and (min-width:530px){
    /*GENERALS*/
    .subtitle{
        font-size: 1.2rem;
    }
    
    /*HEADER*/
    .header_container{
        padding: 15px 12px 0 12px;
    }
    .header_home{
        justify-content: space-between;        
    }
    .header_home h2{
        font-size: 2rem;
    }
    .header_home img{
        width: 35px;
    }

    .header_links a{
        font-size: 1rem;
    }

    /*HOME*/
    .article-film .film-text h1{
        font-size: 1.8rem;
    }
    .home-article .home-img section{
        grid-template-columns: 1fr 1fr;        
    }
}


/*RESPONSIVE HOME 800px BREAK*/
@media only screen and (min-width:800px){
    /*GENERALS*/
    .subtitle{
        font-size: 1.8rem;
    }
    
    /*HEADER*/
    .header_container{
        padding: 15px 16px 0 16px;
    }    
    .header_home h2{
        font-size: 2.5rem;
    }
    .header_home img{
        width: 45px;
    }

    .header_links a{
        font-size: 1.4rem;
    }

    /*HOME*/
    .article-film .film-text h1{
        font-size: 2.8rem;
    }
    .home-article .home-img section{
        grid-template-columns: 1fr 1fr;        
    }
}


/*RESPONSIVE HOME 1200px BREAK*/
@media only screen and (min-width:1200px){
    /*LOADER*/
    .loader-section{
        margin: auto;        
    }
    .loader-section img{
        width: 110px;
    }

    /*ERROR(err.dfault)-MESSAGE*/
    .err-dfault section{
        left: 25%;
    }


    /*HEADER*/
    .header_container{
        padding-top:0 ;
    }
    .header_home h2{
        font-size: 2rem;
    }
    .header_home img{
        width: 35px;
    }
    .header_links{
        margin: 0 auto;        
        width: 40%; 
        padding: 0 4px 2px 4px;       
    }
    .header_links a{
        font-size: 1.2rem;        
    }


    /*HOME*/
    .home-article .home-img section{        
        grid-template-columns: 200px 200px;
        gap: 12px;
    }
    /*film*/
    .article-film .film-text h1{
        text-align: left;
        margin: 0;
    }
    .home-img{
        width: 50%;               
    }
    .film-img section{
        margin-left: 100px;
    }        
    .home-article{
        display: flex;        
        padding: 0;
        width: 95%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .article-film .subtitle{        
        margin: auto;
        margin-top: 100px;
        line-height: 1.5;
        width: 70%;
    }
    /*actor*/
    .article-actors{
        width: 85%;
        margin-top:0px;
    }
    .article-actors section{
        order: 1;
    }
    .article-actors .subtitle{
        margin: auto;
        margin-top: 150px;
        width: 70%;
        line-height: 1.5;
    }
    /*art*/
    .article-art{
        margin-top:0px;
        width: 85%;
    }
    .article-art .subtitle{
        margin: auto;
        margin-top: 170px;
        width: 70%;
        line-height: 1.5;
    }
    .home-end-message{
        margin-top: 80px;
    }


    /*IMG EFFECT HOVER*/
    .home-article .home-img img{
        transition: .4s;
    }
    .home-article .home-img img:hover{
        transform: scale(1.1);                   
    }
}










/*****SECCION  MOVIES, SERIES & ACTORS*****/

/*INPUT*/
.film-input div{
    display: flex;
    flex-direction: column;    
}
.input-section{
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5px;
}
.input-section input{    
    padding: 0;
    width: 90%;
    border: none;
    outline: none;
}
.input-section input::placeholder{
    color: #000c;
}
.input-section button{
    border: none;
    padding: 0;    
}
.input-section button img{
    height: 18px; 
    cursor: pointer;   
}
.film-input .switch-container button{
    width: 100%;
    text-align: center;
    border: none;
    background: var(--red-primary-color);
    cursor: pointer;
    color: #fff;
    font-size: .8rem;
    font-weight: 700;
    padding: 4px 0;
}
/*RESPONSIVE DEL INPUT SEARCH BREAK 750px*/
@media only screen and (min-width:750px) {
    .film-input div{
        flex-direction: row;
        height: 34px;
        justify-content: flex-end;
        margin: 15px 15px 0 0;
    }
    .input-section{
        order: 1;
        width: 30%;
        height: 100%;  
        margin-left: 10px;
        border-radius: 8px;      
    }
    .input-section input::placeholder{
        font-size: 1rem;
    }
    .film-input .switch-container button{
        height: 100%;
        border-radius: 8px;
        padding: 0 4px;
    }
}





/*FILM-SECCION*/
/*message error validations*/
.film_card-content > h3{
    text-align: center;
    font-size: 1.2rem;
    color: var(--red-primary-color);
}
.film_card-content > h3 span{
    color: #fff;
}


.film-content{
    width: 80%;
    margin: auto;
}
.film_card-content h2{
    text-align: center;
    font-size: 1.8rem;
}
.film-content .film-card{
    text-align: center;
    margin-bottom: 80px;
}
.film-content .film-card figure{
    margin: 0;
}
.film-content .film-card img{
    transition: .35s;
    width: 100%;
    object-fit:cover;
    cursor: pointer;
}
.film-content .film-card .card-text div{
    display: flex;
    flex-direction: column;    
    text-align: left;    
    color: var(--yellow-primary-color);
}
.film-content .film-card .card-text span{
    color:var(--red-primary-color);
}
.film-content .film-card p{
    font-size: 1rem;
    margin: 0;
    margin-bottom: 5px;
}
.film-content .film-card h3{
    margin-top: 8px;
    text-align: left;
    margin-bottom: 8px;
    font-size: 1.2rem;
}
/*EFECT*/
.film-card img:hover{    
    transform: translate(4%,-2%)
}
/*RESPONSIVE DEL FILM-SECTION HOME BREAK(750px)*/
@media only screen and (min-width:750px) {
    .film-content{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(50px, 200px));
        gap:0 30px;    
        justify-content: center;
    }
}
/*RESPONSIVE DEL FILM-SECTION HOME BREAK(1200px)*/
@media only screen and (min-width:1200px) {
    .loader-section{
        margin: auto;
    }
    .film_card-content h2{
        margin-top: 80px;
        font-size: 2.5rem;        
    }    
    .film-content{
        margin-top: 80px;
        width: 95%;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(50px, 250px));
        gap:0 50px;    
        justify-content: center;
    }
}

/*FILM-INFO-SECTION*/
.film_card-content .film-content.film-info{
    display: block;
    width: 90%;
    margin: auto;
}
.film-info .info-container img{
    width: 100%;
}
.info-container .film-info_media p{
    text-align: center;
    line-height: 1.5;
}
.info-container p{
    font-size: 1rem;
}
.info-container span{
    color: var(--yellow-primary-color);    
}
.film-info_content > section{
    display: grid;
    grid-template-columns: repeat(2,minmax(25px, 80px));
    row-gap: 20px;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    padding-top: 15px;
    background: #fff;
    color:#000;
}
.film-info_content p:last-child{
    text-align: center;
    margin-top: 40px;
}
@media only screen and (min-width:500px){
    .info-container p{
        font-size: 1.3rem;
    } 
    .film-info_content > section{        
        grid-template-columns: repeat(auto-fill,minmax(150px, 150px));
        gap: 20px;        
    } 
}
@media only screen and (min-width:1100px){
    .film_card-content .film-info{
        width: 100%;                
    }
    .film-info_content > section{        
        margin-top: 0;
        margin-bottom: 80px;        
        display: flex; 
        padding: 15px 10px;                      
    }
    .film-info_content > section img{
        max-width: 500px;
    }
    .film-info .info-container{
        display: grid;        
        grid-template-columns: repeat(2,minmax(500px, 650px));        
        column-gap: 40px;
        justify-content: space-around;
        text-align: center;
        margin: 50px 0;
    }    
    .film-info_content p{
        font-size: 1.8rem;
    }  
    .film-info_content > section p{
        font-size: .6rem;
    }
    .film-info_content > p:last-child{        
        margin-top: 220px;
    }
}





/*ACTORS SECTION*/
.film_card-content .actor-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(80px, 300px));
    justify-content: center;
}
.actor-content .actor-card{
    margin-bottom: 80px;
    cursor: pointer;
}
.actor-content figure img{
    width: 100%; 
    transition: .35s;          
}
.actor-content figure{
    margin-bottom: 8px;    
}
.actor_card-text h3{
    margin: 2px 0;
    text-align: center;    
}
.actor_card-text p{
    margin: 8px 0;
    width: 80%;
    margin: auto;
}
/*EFECT*/
.actor-card img:hover{    
    transform: translate(4%,-2%)
}

/*ACTOR INFO*/
.actor-content.actor-content_info{
    display: block;
}
.actor-content{
    width: 95%;
    margin: auto;
}
.actor-info img{
    width: 100%;    
}
.actor-info div{
    font-size: 1rem;
}
.actor-info div span{
    color: var(--yellow-primary-color);
}
@media only screen and (min-width:700px) {
    .actor-info div{
        font-size: 1.3rem;
    }     
}
@media only screen and (min-width:1100px) {
    .actor-info{
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 800px));
        gap: 40px;
        justify-content: space-around;
        text-align: center;
    }    
    .actor-info div p{
        font-size: 1.8rem;
    }     
}










/************ SECTION ARTIST & SONG *****************/
.film_card-content .artist-content{
    width: 90%;
    margin: auto;
}
.film_card-content .artist-content .search-error{
    color: var(--red-primary-color);
    font-size: 1.2rem;
}
.artist-content .search-error span{
    color:#fff;
    font-size: 1.4rem;
}
.artist-article .artist-img img{
    width: 100%;
    object-fit: contain;
}
.artist-article .artist-img h3{
    font-size: 1.3rem;
}
.artist-article .artist-info p{
    font-size: 1rem;
}
.artist-article .artist-info span{
    color: var(--yellow-primary-color);
}
.artist-article .artist-bio{
    font-size: .95rem;
    line-height: 1.2;
}

/*albums*/
.artist-content .artist_albums-all{
    margin: auto;
    background: #888; 
    border-radius: 3px;
    margin-bottom: 40px; 
    max-width: 510px;
    transition: .2s;     
}
.artist-content .artist_albums-all .artist-album{
    display: flex;
    justify-content: space-between; 
    border-bottom:1px solid #0006;     
    align-items: center;    
    padding: 0 5px;
}
.artist-album p{
    font-size:1rem ;
}
.artist-album:hover{
    background: #999;    
}
.artist-content > h3{
    text-align: center;
    margin-top: 60px;
    font-size: 1.3rem;        
}
.artist_albums-all .artist-album span{
    color: var(--yellow-primary-color);
}
.artist-album img{
    height: 25px;
    cursor: pointer;
}

/*RESPONSIVE DEL SINGERS&SONGS HOME BREAK(1150px)*/
@media only screen and (min-width:1150px){
    .film_card-content .artist-content .search-error{        
        font-size: 1.7rem;
    }
    .artist-content .search-error span{        
        font-size: 1.9rem;
    }
    .artist-article .artist-img h3{
        font-size: 1.8rem;
    }
    .artist-article .artist-info p{
        font-size: 1.5rem;
    }
    .artist-article .artist-bio{
        font-size: 1.4rem;
        line-height: 1.4;
    }

    .artist-content > h3{
        font-size: 1.8rem;
    }
    .artist-content .artist_albums-all{
        max-width: 750px;
    }
    .artist_albums-all .artist-albums{
        font-size: 1.2rem;
    }
}
/*ALBUM SONGS LIST*/
.artist_albums-all .album-tracks{
    border-bottom: 1px solid #0006;
}
.album-tracks .track{
    display: flex;
    border-bottom: .5px solid #0004;
    justify-content: space-around;
    padding: 0 5px;
}
.album-tracks .track span{
    color: var(--red-primary-color);
}












/***           ART-SECTION                *****/
/*HOME*/
.art-content a{
    text-decoration: none;
    color: #fff;
}
.art-content{
    margin: 70px 0;
}
.art-content section{
    width: 95%;
    margin: auto;    
    text-align: center;
    padding: 10px 0;
    background: #888;
    border-bottom: 1px solid #0003;
}
@media only screen and (min-width:650px){
    .art-content section {
        font-size: 1.3rem;
        width: 90%;
    }
}
@media only screen and (min-width:1100px){
    .art-content section {
        font-size: 1.5rem;
        width: 60%;
        cursor: pointer;
        transition: .2s;
    }
    .art-content section:hover{
        background: #999;
    }
}




/*BUSQUEDA POR MUSEO INDIVIDUAL*/





























































